@model ByteShop.Models.Security.RegisterModel

@{
    ViewBag.Title = "Register Form";
}

<h1>@ViewBag.Title</h1>
<section id="registerform">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Email)</td>
            <td>@Html.TextBoxFor(m => m.Email)</td>
            <td>@Html.ValidationMessageFor(m => m.Email)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.TextBoxFor(m => m.Password)</td>
            <td>@Html.ValidationMessageFor(m => m.Password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
            <td>@Html.TextBoxFor(m => m.ConfirmPassword)</td>
            <td>@Html.ValidationMessageFor(m => m.ConfirmPassword)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.FirstName)</td>
            <td>@Html.TextBoxFor(m => m.FirstName)</td>
            <td>@Html.ValidationMessageFor(m => m.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.BirthDate)</td>
            <td>@Html.TextBoxFor(m => m.BirthDate)</td>
            <td>@Html.ValidationMessageFor(m => m.BirthDate)</td>
        </tr>
    </table>
    <input type="submit" value="Register" />
}
</section>